<%	include partials/header	%>
<div
  >
  <div>
    <h1 class="text-center" 
    style="margin-top: 100px;
    color: white;"
    >View our hand picked sites near you
    </h1>
  </div>
    
  <div>
     <h2 class="text-center"
    style="margin-top: 30px;
    color: white;">YOUR REVIEW
    </h2>
  </div>
   
  <div
  style="margin-top: 30px;"
  >
    <center>
    <button type="button" class="btn btn-primary">
      <a style="color: white;" href='/sites'>view all the available sites
      </a>
    </button>
  </center>
  </div>
</div>

<%	include partials/footer	%>