<%include partials/header%>
<div class='container '>
	<header >
		<center>
			<h1 style="color: white;
			font-size: 45px;"
			>Available sites</h1>
			<p
			style="color: white;
			font-size: 30px;"
			>view the trending places near you..!!</p>
		</center>
	</header>
	<%	if(sites.length == 0) {	%>
	<center>

		<img class="card-img-top"
			src='https://cdn.samsung.com/etc/designs/smg/global/imgs/support/cont/NO_IMG_600x600.png'
			style='height:200px; width:200px' />

	</center>
	<%} %>
	<div class='row d-flex align-content-start flex-wrap'>
		<%	for(var i=0; i< sites.length; i++){	%>
		<div class='col-sm'>
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src=<%=sites[i].imageLoc%> style='.img-thumbnail{height:200px width:200px}' />
				<div class="card-body">

					<h5 class="card-title"> <%= sites[i].title	%> </h5>
					<p class='card-text'><%=sites[i].description%>
					</p>
					
				</div>
			</div>

		</div>
		<%}%>
	</div>
	<center>
		<span>
			<button style="margin-right: 20px" type="button" class="btn btn-primary">
				<a style="color: white;" href='/'>back to home page
				</a>
			</button>
			<button  type="button" class="btn btn-primary">
				<a style="color: white;" href='/upload'>UPLOAD A SITE
				</a>
			</button>
		</span>
	</center>
</div>	
<%	include partials/footer	%>
